.git
.env
.docker.env.
.DS_Store
.styleci.yml
.eslintrc.js
.editorconfig
_ide_helper*.php
docker-compose.yml
*.dockerfile
.vscode/
**/.DS_Store
docker/Dockerfile
database/test.sqlite
storage/logs/*.log
storage/logs/laravel.log
storage/logs/supervisord.log*
storage/tenant**
storage/framework/laravel-excel
storage/framework/cache/data/*
storage/framework/sessions/*
node_modules/**/*
vendor/**/*
